{% extends 'base.html.twig' %}

{% block body %}
    <header class="pageHero tabbedHero ">
        <div class="wrapper col-12">
            <h1 class="pageTitle">Results</h1>
            <div data-tab-wrap=".tabs" class="tabLinks left" data-widget="tabbed-content" data-script="pl_tabbed">
                <div class="tabs">
                    <ul class="tablist" role="tablist">

                        {% for competition in competitions %}
                            <a href="{{ path('fixtures', {'code': competition.id}) }}"> <li {% if competition.id == code %} class="active"{% endif %}>{{ competition.caption }}</li></a>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
    </header>
    <div class="tabbedContent">
        <div class="wrapper col-12 active">
            <section class="fixtures">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {% if dataBet.id is defined %}
                    <input type="hidden" value="{{ dataBet.id }}"
                           name="betuser">
                {% endif %}

                {% for key, fixturess in fixtures %}
                    {% set date = '' %}
                    {% for key, fixture in fixturess.fixtures %}
                        {% if (date != fixture.date|date("l m/d/Y")) %}
                            {% set date = fixture.date|date("l m/d/Y") %}
                            <time class="date long"
                                  datetime="{{ fixture.date|date("l m/d/Y") }} ">
                                <strong>{{ fixture.date|date("l m/d/Y") }} </strong>
                            </time>


                            <div data-competition-matches-list="{{ fixture.date|date("l m/d/Y") }}">
                            <div class="competition right">
                                <span class="competitionImage1"></span>
                                <span class="competitionLabel1">Premier League</span>
                            </div>
                            <ul class="matchList">
                        {% endif %}

                        <li class="matchFixtureContainer">

                            <a class="fixture postMatch" href="#">
                                <span class="overview">
                                    <span class="date-match">{{ fixture.date|date("H:i") }}</span>
                                    <span class="teams">
                                        <span class="team"><span
                                                    class="teamName"> {{ fixture.homeTeamName }}</span> <span
                                                    class="badge-{{ (code == 426) ? 25 : code  }} {{ attribute(LogoClubs, fixture.homeTeamName) is defined ? attribute(LogoClubs, fixture.homeTeamName) : '' }}"></span>



                                        </span>

                                        {% if fixture.status != "TIMED" and fixture.status != "SCHEDULED" %}
                                            <span class="score ">
                                            <input class="{{ (fixture.status != "TIMED") or (status == "1") ? 'disabled' : '' }}" name="{{ codematchs ~ key }}[scoreHome]" {{ (fixture.status != "TIMED") or (status == "1") ? 'disabled=""' : '' }}
                                                   value="{% if dataBet.scores is defined %}{{ attribute(dataBet.scores, codematchs ~ key).scoreHome|trim }}{% endif %}"
                                                   maxlength="2" size="1">
                                          <input class="{{ (fixture.status != "TIMED") or (status == "1") ? 'disabled' : '' }}" name="{{ codematchs ~ key }}[scoreAway]" {{ (fixture.status != "TIMED") or (status == "1") ? 'disabled=""' : '' }}
                                                 value="{% if dataBet.scores is defined %}{{ attribute(dataBet.scores, codematchs ~ key).scoreAway|trim }}{% endif %}"
                                                 maxlength="2" size="1">
                                            </span>

                                        {% else %}
                                            <span class="score ">{{ fixture.status }}</span>
                                        {% endif %}


                                        <span class="team">
                                            <span
                                                    class="badge-{{ (code == 426) ? 25 : code  }}  {{ attribute(LogoClubs, fixture.awayTeamName) is defined ? attribute(LogoClubs, fixture.awayTeamName) : '' }}"></span> <span
                                                    class="teamName">{{ fixture.awayTeamName }}</span></span>
                                    </span>
    <span class="stadiumName detail-predicts">

               <span>Odd's Of Winning home <strong>{{ fixture.odds.homeWin }}</strong></span>
                                        <span>Odd's Of draw <strong>{{ fixture.odds.draw }}</strong></span>
                                        <span>Odd's Of Winning away <strong>{{ fixture.odds.awayWin }}</strong></span>

                            <span class="predict-prc">           {% if dataBet.scores is defined %}<strong>{{ attribute(dataBet.scores, codematchs ~ key).BetScors|trim }}% </strong> bet same score{% endif %}</span>

    <span class="predict-prc">      {% if dataBet.scores is defined %}<strong>{{ attribute(dataBet.scores, codematchs ~ key).resultMatch|trim }}% </strong>  bet same result{% endif %}</span>


                                </span>
                                    <span class="odds">
                                        <span class="odds-scrore"> ({{ fixture.result.goalsHomeTeam }}</span>
                                        <span class="oddsDraw">-</span>
                                        <span class="odds-scrore">{{ fixture.result.goalsAwayTeam }})</span>

                                    </span>

                                </span>
                            </a>
                        </li>

                        {% if (date != fixture.date|date("l m/d/Y")) %}
                            </ul>

                            </div>
                        {% endif %}
                    {% endfor %}

                {% endfor %}
                {{ form_end(form) }}

            </section>
        </div>
    </div>
{% endblock %}
