{% extends 'base.html.twig' %}

{% block body %}
    <header class="pageHero tabbedHero ">
        <div class="wrapper col-12">
            <h1 class="pageTitle">Results</h1>
            <div data-tab-wrap=".tabs" class="tabLinks left" data-widget="tabbed-content" data-script="pl_tabbed">
                <div class="tabs">
                    <ul class="tablist" role="tablist">

                        {% for competition in competitions %}
                            <a href="{{ path('fixtures', {'code': competition.id}) }}"> <li {% if competition.id == code %} class="active"{% endif %}>{{ competition.caption }}</li></a>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
    </header>
    <div class="tabbedContent">
        <div class="wrapper col-12 active">
            <section class="fixtures">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {% if dataBet.id is defined %}
                    <input type="hidden" value="{{ dataBet.id }}"
                           name="betuser">
                {% endif %}

                {% for key, fixturess in fixtures %}
                    {% set date = '' %}
                    {% for key, fixture in fixturess.fixtures %}
                        {% if (date != fixture.date|date("l m/d/Y")) %}
                            {% set date = fixture.date|date("l m/d/Y") %}
                            <time class="date long"
                                  datetime="{{ fixture.date|date("l m/d/Y") }} ">
                                <strong>{{ fixture.date|date("l m/d/Y") }} </strong>
                            </time>


                            <div data-competition-matches-list="{{ fixture.date|date("l m/d/Y") }}">
                            <div class="competition right">
                                <span class="competitionImage1"></span>
                                <span class="competitionLabel1">Premier League</span>
                            </div>
                            <ul class="matchList">
                        {% endif %}

                        <li class="matchFixtureContainer">

                            <a class="fixture postMatch" href="#">
                                <span class="overview">
                                    <span class="teamName">{{ fixture.date|date("H:i") }}</span>
                                    <span class="teams">
                                        <span class="team"><span
                                                    class="teamName"> {{ fixture.homeTeamName }}</span> <span
                                                    class="badge-25 t3"></span>

                                        </span>

                                        {% if fixture.status != "TIMED" and fixture.status != "SCHEDULED" %}
                                            <span class="score ">{{ fixture.result.goalsHomeTeam }}
                                                <span>
                                                -</span>{{ fixture.result.goalsAwayTeam }}</span>

                                        {% else %}
                                            <span class="score ">{{ fixture.status }}</span>
                                        {% endif %}


                                        <span class="team">
                                            <span
                                                    class="badge-25 t14"></span> <span
                                                    class="teamName">{{ fixture.awayTeamName }}</span></span>
                                    </span>
    <span class="stadiumName">
                                              <input name="{{ codematchs ~ key }}[scoreHome]" {{ (fixture.status != "TIMED") or (status == "1") ? '' : '' }}
                                                     value="{% if dataBet.scores is defined %}{{ attribute(dataBet.scores, codematchs ~ key).scoreHome|trim }}{% endif %}"
                                                     maxlength="2" size="1">
                                          <input name="{{ codematchs ~ key }}[scoreAway]" {{ (fixture.status != "TIMED") or (status == "1") ? '' : '' }}
                                                 value="{% if dataBet.scores is defined %}{{ attribute(dataBet.scores, codematchs ~ key).scoreAway|trim }}{% endif %}"
                                                 maxlength="2" size="1">


                                </span>
                                    <span class="odds">
                                        <span class="odds-scrore">{{ fixture.odds.homeWin }}</span>
                                        <span class="oddsDraw">{{ fixture.odds.draw }}</span>
                                        <span class="odds-scrore">{{ fixture.odds.awayWin }}</span>
<span class="predict-prc">           {% if dataBet.scores is defined %}{{ attribute(dataBet.scores, codematchs ~ key).BetScors|trim }}% bet same score{% endif %}</span>

    <span class="predict-prc">      {% if dataBet.scores is defined %}{{ attribute(dataBet.scores, codematchs ~ key).resultMatch|trim }}% bet same result{% endif %}</span>

                                    </span>

                                </span>
                            </a>
                        </li>

                        {% if (date != fixture.date|date("l m/d/Y")) %}
                            </ul>

                            </div>
                        {% endif %}
                    {% endfor %}

                {% endfor %}
                {{ form_end(form) }}

            </section>
        </div>
    </div>
{% endblock %}
